.add_coment {
  display: flex;
  justify-content: center;
  width: 100%;
}

.list_coments {
  display: flex;
  justify-content: center;
  min-width: 495px;
  min-height: 360px;
  margin: 20px;
  box-sizing: border-box;
  background-image: url(https://img.wallscloud.net/uploads/thumb/3192274296/anime-girl-1-56739-495x360-MM-80.webp);
}

.ul_coment {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 500px;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url(https://images.hdqwalls.com/download/forever-7th-capital-anime-4k-4x-1920x1080.jpg);
}

.img_add {
  width: 100%;
}

.li_name {
  color: yellow;
  font-size: 30px;
  font-weight: 700;
}

.li_coment {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  font-weight: 500;
  color: black;
}

.block_add {

}

.block_coment2 {
}

.delete_btn {
  width: 100px;
  color: black;
  background-color: red;
  margin: 10px;
}

.bnt_add {
  color: black;
  background-color: green;
  border-color: blue;
  width: 80px;
  height: 30px;
  margin: 10px;
}

.bnt_com {
  color: black;
  border-color: blue;
  background-color: yellow;
  width: 250px;
  height: 50px;
  border-radius: 14px;
}
.x {
  color: black;
  width: 30px;
  height: 30px;
  font-size: 15px;
  border-color: black;
  background-color: red;
}

.inpName {
  margin: 10px;
  background-color: gold;
  border-color: red;
  width: 150px;
  height: 30px;
  color: black;
}

.inpcommit {
  width: 150px;
  height: 30px;
  color: black;
}

.liCom {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.lict_value {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}
