
.Register {
    position: relative;
    display: flex;
    justify-content: center;
}

.img_bag {
    width: 100%;
    z-index: 1;
    position: absolute;
}


.inp {

   display: flex;
   width: 400px;
   box-sizing: border-box;
   margin-left: auto;
margin-right: auto;
   justify-content: center;
   margin-bottom: 20px;
   padding: 10px;
   background-color: black;
   color: red;
}

.block  {
    z-index: 2;
    position: absolute;
    width: 500px;
    height: 500px;
    padding-top: 300px;

}

.btn {
display: flex;
   width: 400px;
   box-sizing: border-box;
margin-left: auto;
margin-right: auto;
   justify-content: center;
   margin-top: 20px;
   padding: 20px;
   background-color: gold;
   color: brown;
   font-weight: 900;
   font-size: 20px;
}

